<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мой блог</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
<header class="header">
    <div class="header-container">
        <div class="logo">Мой блог</div>
        <nav class="nav">
            <a class="nav-button" href="">Главная</a>
            <a class="nav-button" href="/auth" id="auth-button">Войти</a>
        </nav>
    </div>
</header>

<main class="main-container">
    <div class="posts-grid" id="posts-container"></div>
</main>

<div id="popup-overlay" class="popup-overlay">
    <div id="popup-content" class="popup-content">
        <button id="close-popup" class="popup-close">&times;</button>
        <h2 id="popup-title"></h2>
        <div id="popup-content-text"></div>
        <div id="popup-meta" class="popup-meta"></div>
    </div>
</div>

<script src="scripts/load.js"></script>

</body>
</html>

